/*=====================Change password page=========================*/
.change-password {
  height: 100svh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #F7F7FA;
}
.change-password .enter-modal__group {
  margin-bottom: 20px;
}

.change-password__form {
  padding: 16px;
  max-width: 375px;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
}
.change-password__form .enter-modal__button {
  margin-top: 28px;
}

.form-change-password__logo {
  max-width: 122px;
  margin-bottom: 48px;
}
.form-change-password__logo img {
  max-width: 100%;
}

.password-succes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

.password-succes__icon {
  width: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.password-succes__icon svg {
  width: 100%;
}

.password-succes__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.form-change-password__message {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}
.form-change-password__message br {
  display: none;
}

.form-change-password__content {
  margin-bottom: 28px;
}

/*--------------------external----------------------*/
.enter-modal__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 28px;
}

.enter-modal__title {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.enter-modal__group {
  margin-bottom: 32px;
}
.enter-modal__group-inner {
  position: relative;
}

.enter-modal__input {
  width: 100%;
  border: 1px solid #E1E1E5;
  padding: 14px 16px 14px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.enter-modal__input[readonly] ~ .enter-modal__placeholder {
  -ms-transform: translateY(-35px);
  transform: translateY(-35px);
}
.enter-modal__input:not([readonly]) {
  cursor: pointer;
}
.enter-modal__input:not([readonly]).enter-modal__input--error {
  border-color: #EB1C4E;
}
.enter-modal__input:not([readonly]):hover {
  border-color: #ABB6CC;
}
.enter-modal__input:not([readonly]):focus ~ .enter-modal__placeholder, .enter-modal__input:not([readonly]):not(:placeholder-shown) ~ .enter-modal__placeholder {
  -ms-transform: translateY(-35px);
  transform: translateY(-35px);
}
.enter-modal__input:not([readonly]):focus-visible, .enter-modal__input:not([readonly]):active {
  outline: none;
  border-color: #000;
}
.enter-modal__input:not([readonly]):focus ~ .modal__clear {
  display: -ms-flexbox;
  display: flex;
}
.enter-modal__input:not([readonly]):hover:not(:placeholder-shown) + .modal__clear svg path {
  stroke: #78808F;
}
.enter-modal__input:not([readonly]):not(:placeholder-shown):not(:focus-visible) {
  border-color: #E1E1E5;
}
.enter-modal__input:not([readonly]):not(:placeholder-shown):not(:focus-visible) ~ .modal__clear {
  display: -ms-flexbox;
  display: flex;
}
.enter-modal__input:not([readonly]):not(:placeholder-shown):not(:focus-visible).enter-modal__input--error {
  border-color: #EB1C4E;
}
.enter-modal__input--error {
  border-color: #EB1C4E;
}
.enter-modal__input--fill {
  color: #78808F;
  background-color: #F7F7FA;
}
.enter-modal__input--fill + .modal-edit {
  display: -ms-flexbox;
  display: flex;
}

.button:not([disabled]):hover {
  color: #fff;
  background-color: #00b88b;
}

.enter-modal__button {
  width: 100%;
}
.enter-modal__button.button {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  column-gap: 10px;
  padding: 14px 28px;
  font-size: 16px;
}
.enter-modal__button.button.button--loading {
  color: white !important;
}
.enter-modal__button.button.button--loading::after {
  position: relative;
  margin: 0;
  width: 18px;
  height: 18px;
}

.eye-ico.unblind .eye-ico__show {
  display: block;
}
.eye-ico.unblind .eye-ico__hide {
  display: none;
}
.eye-ico .eye-ico__show {
  display: none;
}

.enter-modal__placeholder {
  position: absolute;
  padding: 1px 5px;
  left: 16px;
  top: 50%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #78808F;
  background-color: #fff;
  transition: all 0.3s;
  pointer-events: none;
}

.modal__error {
  margin-top: 6px;
  padding-inline: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #EB1C4E;
}

.eye-ico {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.eye-ico__show:hover svg path {
  stroke: #78808F;
}
.eye-ico__hide:hover svg path:first-child {
  fill: #78808F;
}
.eye-ico__hide:hover svg path:not(:first-child) {
  stroke: #78808F;
}

/*--------------------END external----------------------*/
/*===================== end Change password page======================*/